[2017-12-03 17:49] #430 closed

[2017-12-07 09:00] antulik opened #431 "Boolean default true issue"
[code]
Expected behaviour:
`X.run!(x: false)` to set boolean input to `false`

[2017-12-07 23:02] AaronLasseigne commented on #431
I just ran that on the master branch and I got `false` for `X.run!(x: false)`. What version are you using?

[2017-12-11 06:26] antulik commented on #431
my bad, the bug was caused by our monkey patching while converting blank strings to nil :D

[2017-12-11 06:26] #431 closed

[2017-12-12 16:54] DVG opened #432 "Dealing with foreign keys"
I have an activerecord object that has a few optional associations

[code]

I'm attempting to wrap it in an interaction, however, this has been fraught with peril. The idomatic rails way to set up the form is

[code]

When a bar isn't selected, the parameters end up in the server like:

[code]

I originally had the interaction set up like this:

[code]

Which failed becasue bar_id isn't a valid in

[2017-12-12 18:41] DVG commented on #432
Saw this is a 4.0 feature and backported the module. Highly interested in seeing the future of this.

[2017-12-12 18:41] #432 closed

[2017-12-17 09:48] skunkworker commented on #427
@antulik I agree about the security risk of `record`. At first I really liked the `record` filter but after reading this I've gone back and changed them to be `object` instead and pushed the validation of the scope on the object outside of the active interaction object. Not having a scope that can be passed puts too much power inside of the interaction, instead of having a `find_foo!` method in a

[2017-12-20 02:57] AaronLasseigne commented on #427
I see what you mean. I'm thinking it might make sense to allow the `finder` option to take a proc. In the proc you could use a scope to limit things. Still a thought in progress though.

[2018-01-09 15:42] lulalala commented on #411
I just met another bug, where I have a callback, and calling `valid?` caused that callback to be called twice. The 4.0.0 branch fixed this. Cheers!

[2018-02-02 13:57] aganov commented on #423
Also `reform` gem supports a feature called `collection`. It can be used with rails's `fields_for` helper. It will be great if we have something similar here...

[code]

[code]

[code]

[2018-02-06 13:57] hurrycaner opened #433 "Type independent input"
Is there an input type I can use to not define attribute type?
For example, I don't want to define if it's string or object, i will do some stuff if it's string and other stuff if it's an object. How can i do that?

[2018-02-06 14:40] antulik commented on #433
@hurrycaner use `interface` input, it accepts everything by default

[2018-02-06 23:36] #433 closed

[2018-02-06 23:40] hurrycaner commented on #424
As workaround it is possible to use everything as interface to skip type validation, right?

[2018-02-06 23:52] AaronLasseigne commented on #433
Using `interface` is fine. FYI, it's changing slightly in 4.0.0 so it won't accept everything by default. Another option would be to use `object :foo, class: Object`. That'll accept everything that's a subclass of `Object`.

[2018-02-17 09:15] antulik opened #434 "Interface verification in isolated testing"
I'd like to open a discussion on adding support of interface checking (not `interface` input) in isolated tests.

Let's assume a simple example with 2 service objects:

[code]

We want to test `A` class. It depends on `B` class. With isolated (unit) testing of service objects we need to mock `B`. Which is simple enough. Rspec:

[code]

Everything will work great. Tests are isolated and fast. The p

[2018-02-19 14:07] antulik commented on #434
After thinking about it, there is an okay option

[code]

I think that is good enough, will close the issue, but I'm still interested what you guys can say on this topic.

[2018-02-19 15:11] antulik commented on #434
The issues with above work around:

- `expect_any_instance_of` does not work well if the service is called multiple times
- there is no easy way to check the input values are actually passed correctly (and are not defaulted)

[2018-03-22 04:02] antulik opened #435 "Issue with merging error messages and details"
Assume

[code]

When errors are merged and there are details, messages are not merged, which results in missing error messages

[2018-03-28 01:09] #404 closed

[2018-04-19 20:34] hurrycaner opened #437 "Validate method with errors.add causing multiple validation calls..."
So, i made this class with a `validate :field_exists?` method returning an `errors.add(:base, 'message')`:
[code]

When i run it i'm getting duplicate validations:
[code]

When i run it without the `errors.add` it work as expected:
[code]

[2018-04-19 23:55] AaronLasseigne commented on #437
I'm not seeing that on the current release.

[code]

[2018-04-20 14:57] hurrycaner commented on #437
Well, that's weird... yesterday that was not working at all... today it just works... sometimes we just need to take a time... i will reopen if happens again, thanks :)

[2018-05-15 12:18] breckenedge opened #438 "Remove Gemnasium from README"
Gemnasium is [going away today](https://gemnasium.com/blog/gemnasium-is-acquired-by-gitlab/). :cry:

[2018-05-18 10:48] delphaber commented on #437
I had the same behaviour today. I'm using `compose`. I can reproduce it with this class (you need also the @hurrycaner class)

[code]
Then execute it:

Without a value for `field`, it works as expected:

[code]

With a value for `field` it runs validations twice

[code]

[2018-05-18 17:16] delphaber commented on #437
Happens with `3.6.1` too

[2018-06-27 13:29] mpugach opened #439 "How to make file filter optional? `default: nil` gives `is not a valid file`"
see the subject

[2018-06-27 17:39] tfausak commented on #439
Can you provide a specific example? An optional file filter works for me. Note that if you do provide an option, it must be a valid file.

[code]

[2018-06-27 17:46] AaronLasseigne commented on #439
I wasn't able to reproduce that on the latest code.

[code]

[2018-06-28 10:28] mpugach commented on #439
@tfausak thank you for your help, I think I just send  an empty string, so you are right about the option, my bad, sorry

[2018-06-28 10:28] #439 closed

[2018-07-09 23:38] antulik opened #440 "New extensions gem"
Hey, I'm just bringing to your attention that we've open-sourced our extensions to the gem. In case it will inspire you to bring same functionality into the core gem.

https://github.com/antulik/active_interaction-extras

[2018-07-10 17:05] AaronLasseigne commented on #440
Awesome! I'll take a look.

[2018-07-10 17:05] #440 closed

[2018-07-12 16:59] mbajur opened #441 "Simple form not populated when interaction invalid"
I have two issues trying to use active_interaction with simple_form gem. I have a following interaction:

[code]

and a model

[code]

controller:

[code]
And two forms to demonstrate the issue:

[code]

***

The thing is - if i'm sending a form with empty `body` and `story_id` set to 1, `valid?` method for my interaction returns `false` as expected and `errors` object is getting populated.

Howev

[2018-07-14 12:48] hurrycaner commented on #441
Can you check what is the error class in your controller with and without active_interaction?

[2018-07-14 13:13] mbajur commented on #441
@hurrycaner for interactor, it's `ActiveInteraction::Errors` and for non-interactor: `ActiveRecord::Errors`

I think i found what's the reason of this glitch - i have a `string :body, default: nil` input defined in my interaction. When sending empty body (which is read as `""`, not `nil`), active_interaction treats it as an invalid input for some reason (i have `default: nil` defined so it should

[2018-07-14 13:21] mbajur commented on #441
Unfortunatelly - after passing `nil` as body instead of empty string, the error is still there and the form is still not displaying the form errors properly.

No matter if i put body presence validation in interactor or in a model - my interactor returns `ActiveInteraction::Errors` instance in `errors` and form is not filled with data / there are no error messages visible along each invalid field.

[2018-07-14 13:50] mbajur commented on #441
Sorry for a third comment in a row but i created a simple app to demonstrate this issue:

https://github.com/mbajur/active-interaction-simple-form-broken-demo

(repro steps and setup instructions are in the README)

[2018-07-14 18:05] hurrycaner commented on #441
@AaronLasseigne Can you help us?

[2018-07-14 21:13] AaronLasseigne commented on #441
The underlying issue is that you're switching between `Comment` and `Comments::Create`.

Here's a fix:
https://github.com/AaronLasseigne/active-interaction-simple-form-broken-demo/commit/c4a115fec6b02787b4617e40032f67699cbb549e

[2018-07-15 08:15] mbajur commented on #441
Yup that was it :) Thank you guys! For the record (if @AaronLasseigne fork get removed one day):

1. In your `new` controller action, use `Comments::Create.new` instead of `Comment.new`
2. Remove `to_model` method from the interaction
3. in `simple_form_for` helper call, set `as: :comment` and `url: comments_path`

[2018-07-15 08:15] #441 closed

[2018-07-29 22:59] hurrycaner commented on #437
the bug is being caused by this line: https://github.com/AaronLasseigne/active_interaction/blob/8a6ac5233258170b0a3c95349181beb04e36099f/lib/active_interaction/concerns/runnable.rb#L67

[2018-08-11 16:33] AaronLasseigne commented on #437
FYI, I'm looking into solutions for this. There's another bug I solved before (but haven't released yet) and I think this might be solved by that too.

[2018-08-17 13:47] hurrycaner commented on #437
@AaronLasseigne can you share it?

[2018-08-20 18:17] mingca opened #442 "Validation message is not correct"
In my interaction
`errors.merge!(comment.errors)`

In comment model
`validates :comment, presence: { message: '^Please provide a valid comment'._ }`

But validation result that I get from outcome.errors.full_messages is `Comment can't be blank` which is the default activerecord validation message not the customized one.

[2018-08-21 13:35] ninjarails commented on #442
My work around was ```rescue ActiveRecord::RecordInvalid => invalid
      # https://github.com/AaronLasseigne/active_interaction/issues/442
      invalid.record.errors.messages.each do |column, messages|
        messages.each { |m| errors.add(column, m) }
      end```

[2018-08-21 13:37] ninjarails commented on #442
So basically I need the former behavior here: #417

[2018-08-21 23:07] AaronLasseigne commented on #437
This is related to #411. I originally listed it as going into v4. I'm going to go ahead and backport it into this as a fix and do a new release.

[2018-09-03 18:03] ninjarails opened #443 "Compose multiple interactions - raise exception(or return) if one of them is invalid"
Is there anyway to achieve this?

[2018-09-03 18:36] ninjarails commented on #443
I found a way to use transaction with compose. #compose basically raise exception when invalid. Thanks!

[2018-09-03 18:36] #443 closed

[2018-09-17 04:04] antulik commented on #434
There is a working prototype that we use ourselves if case people are interested
https://github.com/antulik/active_interaction-extras#rspec

It works great 95% of time. Some things to improve though, the error messages are not as polished as you'd expect from rspec.

[2018-09-28 08:28] diota opened #444 "Why "y" is reserved_name?"
[code]

`PlacingSomething.run(x: 1.2, y: 0.2, image: 'lots_of_soothing_puppies.jpg')`
throws error of [:y => 'is required']

`ActiveInteraction::InvalidFilterError (“y” is a reserved name)`

when put `self.y` inside the code, I got
`NoMethodError: private method 'y' called for #<PlacingSomething:0x00000000020383b8>`

[2018-10-01 05:01] antulik commented on #444
Could not reproduce the issue on v3.6.2

[code]
@diota perhaps some gem or extension messing it up?

[2018-10-01 07:02] diota commented on #444
I'm using Rails v2.4.4

`rails new placement_app`

add `gem 'active_interaction', '~> 3.6.2'` inside the Gemfile

and I put _your codes_ inside app/services/placing_something.rb

`rails c`
[code]

[2018-10-01 11:31] antulik commented on #444
As it turns out it all depends when you load the the class.

`psych` gem defines global `y` method. ActiveInteraction does not allow filters that overwrite methods on `Base` class. So if the `psych` gem is loaded before, active interaction will complain.

[code]
https://github.com/ruby/psych/blob/master/lib/psych/y.rb#L5

I was running script with rails runner `rails r /file/path` and surprisingly

[2018-10-01 22:41] AaronLasseigne commented on #444
Yup, we try to avoid collisions that may arrive when people accidentally override internal methods with filters.

[2018-10-06 18:40] #444 closed

[2018-10-10 20:27] ninjarails commented on #419
I had to use something like this:
[code]

[2018-10-15 23:18] formigarafa opened #447 "Adding import_filter to hash"
I have have created a branch (formigarafa/active_interaction#2) to add import_filters to a hash filter.
I just couldn't figure where to put some tests and keep the same format used.
I would really appreciate If anyone could take a look at the feature to give me some help with that.

Thanks.

[2018-11-29 05:56] Samemura opened #448 "Can we have `#run` method instead of `#execute` ?"
Just simple question / idea, we define `#execute` for the logic, and it will be called via `.run` .
If it could be defined as `#run`, it will be nicer to understand.

Is that not so good ? Or hard to change ? Maybe it should be alias of `#execute` for 1st step.

[2018-11-29 06:01] Samemura opened #449 "Return value for `.run` and `.run!`"
I think return values for `.run` and `.run!` are better to be same like `ActiveRecord.create` .

Current behavior is: (I am not sure)
`.run` => return as `#execute` method ?
`.run!` => return ActiveInteraction class ??

How do you think ??

By the way, I like this nice gem, thank you.

[2018-12-04 06:49] antulik commented on #449
@Samemura they used differently. `.run` is useful when we need to return the result along with any error messages. E.g. in controllers

[code]

[2018-12-05 19:04] AaronLasseigne commented on #448
I agree with @formigarafa on this. We want to distinguish the two because of the other things happening. Right now that still seems like the best approach. Thanks for the question though.

[2018-12-05 19:04] #448 closed

[2018-12-05 23:11] AaronLasseigne commented on #449
As @antulik said, `run` and `run!` are used differently. When you call `run` you're getting back the response from `execute` along with any errors that may have occurred. With `run!`, the expectation is that all of the input is correct and you just want the return back from `execute`. If anything does fail, an error is thrown. It's kind of like Rails `save` vs `save!`.

Thanks for the question and

[2018-12-05 23:11] #449 closed

[2018-12-08 08:16] rahulknojha opened #450 "Rails : Merging nested attributes errors failed with method missing"
I have model called Supplier and it has nested attributes for the address. when adrees attributes are invalid. and I try to merge supplier errors to errors of interaction it leads to method missing.

Please find my code below.
[code]

Please find error below

`
Failure/Error: return errors.merge! supplier.errors unless supplier.save

     NoMethodError:
       undefined method `address.state' for

[2018-12-09 19:46] AaronLasseigne commented on #450
It looks like the nested attributes aren't available for some reason. There's not enough here for me to really tell what's going on. What does the error object look like before you try merging it?

[2018-12-18 22:06] ekluff commented on #435
Is there any update on this?

[2018-12-25 22:55] arianf opened #451 "Implement read_attribute_for_validation for errors"
See discussion here: https://github.com/rails/rails/issues/28810

`active_interaction` should implement it's own version of `read_attribute_for_validation` for errors

Current default implementation:

[code]

Within your service object you might want to add other errors besides errors around associated to your validation filters/attributes.

For example:

[code]

Would throw the following error:

[2018-12-25 23:03] arianf commented on #451
This is how I've been working around this recently

[code]

[code]

[2018-12-25 23:15] arianf opened #452 "Is there a way to prevent error strings from localizing?"
This is cool and all if you are bubbling up the error to the user

[code]

But is there a way to turn this off, if you plan to raise the error? Doesn't make sense just because the user was using French, for the error message to be in French when all the code we write is in English lol especially since we use Sentry to aggregate our error messages.

[code]

[2018-12-26 00:39] arianf commented on #452
Probs not the best way to solve this problem, but here is a monkey patch I came up with.

[code]

[2019-01-05 20:13] AaronLasseigne commented on #452
There's not a good way that I'm aware of. Assuming that you're using Rails, what do you do with errors that arise from models? Wouldn't you have the same issue using `save!` with them?

[2019-01-14 23:47] arianf opened #453 "Is it possible to specify a list of strings / symbols?"
Is it possible to specify a list of strings / symbols that are valid?

For example:

[code]

[2019-01-14 23:48] arianf commented on #452
Yea, that I guess that is true. Hmmm, okay, I'll file a bug with rails instead.

[2019-01-14 23:48] #452 closed

[2019-01-15 00:31] antulik commented on #453
yes

[code]

[2019-01-15 00:34] arianf commented on #453
Thanks!

[2019-01-15 00:34] #453 closed

[2019-02-10 16:47] AaronLasseigne commented on #442
This is really the same issue as #435 where `:message` wasn't being accounted for. There's a fix coming in the next release.

[2019-02-10 16:47] #442 closed

[2019-02-10 20:36] AaronLasseigne commented on #451
I don't want to make this behave differently from the way Rails is doing it. I try to be consistent with Rails where I can. I think your solution is actually a pretty perfect way to handle it within your project.

[2019-02-10 20:36] #451 closed

[2019-02-11 02:55] #435 closed

[2019-03-06 09:25] ixio commented on #395
If anyone else has this question, for example if you wanted to use `||=` to set a default at runtime, the problem comes from https://docs.ruby-lang.org/en/2.5.0/syntax/assignment_rdoc.html#label-Local+Variables+and+Methods.

A simple way to fix this is to use the '@' sign.

[code]

[2019-03-12 22:42] arianf opened #456 "I18n.available_locales is being modified by active_interaction"
Because you guys have a locale folder, this gem adds the following locales to your available locale list

[code]

Is it possible for active_interactions not to pollute `I18n.available_locales`?

https://github.com/AaronLasseigne/active_interaction/blob/2eb26949676057a8112bdc4295583c1229f70b9a/active_interaction.gemspec#L32-L34

Line 34 should be removed.

[2019-03-13 09:48] Pierre-Michard opened #457 "the after execute callback is not aware of the failure when `compose` failed"
[code]
The following command fails but does not log the issue:
[code]

[2019-03-14 21:36] trev opened #458 "Release 3.7.1 to RubyGems?"
BigDecimal.new deprecations were removed here https://github.com/AaronLasseigne/active_interaction/commit/1000e8fe8e8d6f23241a2a619f4a8dd193f41ad7 but not yet been release to RubyGems.

[2019-03-20 03:42] #457 closed

[2019-03-20 03:55] AaronLasseigne commented on #456
Yup, let me make sure that doesn't break anything.

[2019-04-03 14:58] ivdma commented on #366
If you want original behaviour you could use:

[code]

[2019-05-03 17:41] YGKtech opened #459 "Hash with dynamic keys but consistently typed values?"
I often deal with data structures like this:
[code]
where every key-value pair within the hash has a strict type definition, but the has may have any number of those pairs.

Based on my reading of the docs, and testing with the code, I don't think there's a way to express this structure. You can use it by allowing a hash with arbitrary keys, but that loses type-safety one that object.

For now I'v

[2019-05-05 21:59] AaronLasseigne commented on #459
Right now I believe you are correct. We have no way to handle that structure while using types. No one has requested it before so it's certainly not something we're planning to add. Let me think about what it might take to add something like that.

[2019-05-06 17:30] YGKtech commented on #459
@AaronLasseigne : Thanks, I'll continue leaning on the array workaround for my use case then.

For implementation, I'd imagine it could reuse a lot of the validation code you already have for arrays, but I'm not sure how to reconcile this pattern with the syntax you've used for other structures.

To give a little more context, structures like this often come up in my work when dealing with NoSQL d

[2019-05-16 15:39] wayne5540 opened #460 "datetime doesn't support ActiveSupport::TimeWithZone"
`date_time` doesn't support `ActiveSupport::TimeWithZone` for now. Any plan to support this?

It seems #40 add `TimeWithZone` support to `time` but not `date_time`

Thanks.

## Reproduce

* active_interaction: 3.6.2
* rails: 5.2.1

### Expected behaviour:

In rails console:

[code]

### What actually happen

[code]

[2019-05-22 00:17] AaronLasseigne commented on #460
Is there a reason to avoid using `time`?

[2019-05-22 02:19] AaronLasseigne commented on #456
From what I can tell, it looks like if the files are included in any way I18n assumes those locales are available. I think we'd have to remove the locales entirely. I'm not sure how to make them available in a useful way without polluting the list of available locales.

[2019-05-22 15:02] wayne5540 commented on #460
Good point, I thought `time` wasn't include `date` since there are `date_time` and `time`, I'll use `time` instead of `date_time`. Thanks @AaronLasseigne

[2019-05-22 15:02] #460 closed

[2019-06-03 09:59] elkesrio opened #461 "Hash removes keys before type check"
For a `Hash` type the keys that aren't specified are removed before the type check. I think they should be removed during the type check:

[code]

**Actual behavior**
[code]

**Expected behavior**
[code]

[2019-06-03 14:48] AaronLasseigne commented on #461
Why?

[2019-06-03 16:34] elkesrio commented on #461
Because it makes more sense. It belongs to the process of type checking. It gives more control on your inputs.

[2019-06-04 21:23] AaronLasseigne commented on #461
I think it makes more sense that they're removed prior to type checking. Type checking is not for sanitizing. If you want these inputs you can use [`striped: false`](https://github.com/AaronLasseigne/active_interaction#hash).

[2019-06-04 21:23] #461 closed

[2019-06-27 11:45] mrusakovich opened #462 "Nested filters type check and following error message"
Hi, I have a question regarding nested filters and `array` in particular. let's imagine such case:

[code]

if `bar` value is not integer the error message will be something like that:

[code]

I'm wondering if it's possible to show more descriptive error message for example:

[code]

so, it would be similar to rails nested error messages, like:
[code]

[2019-06-28 01:49] Samemura opened #463 "`ActiveInteraction::Base.new` does not return a result of `#to_model`"
I am implementing new action on Rails controller.

About Rails controller implementation for new action in [README](https://github.com/AaronLasseigne/active_interaction#new), it says that define `#to_model` and involve `.new` to get initialized model object.

But I checked this, `.new` return ActiveInteraction object not result of `#to_model`. Also `#to_model` was not involved. (It looks not invol

[2019-07-02 13:00] mrusakovich commented on #462
active_interaction 2.2.0
rails 3.2.22

[2019-07-03 22:04] jhund opened #464 "Using dry-schema for input validation and coercion"
Hi there, I absolutely love the ActiveInteraction gem. It allows me to structure my Rails app interactions in a way that makes perfect sense to me.

One area where I feel some friction is validating and coercing deeply nested Hash inputs. I get those when interacting via JSON with a client side JS app.

I know that the [dry-schema](https://dry-rb.org/gems/dry-schema/) or [dry-validation](https://d

[2019-07-12 19:02] AaronLasseigne commented on #463
The `to_model` method is called by the various form functions in Rails. You shouldn't have to pass it manually. Are you seeing an error when you just pass `CreateAccount.new`?

[2019-07-14 02:24] blackst0ne commented on #427
Any update here?
Or any advice how to split internal and external params without duplicating code, e.g. using strong params?

[2019-07-19 06:38] mrusakovich commented on #462
https://github.com/AaronLasseigne/active_interaction/pull/465

[2019-08-25 23:02] antulik commented on #427
@blackst0ne I've wrote the extension which integrates strong params. https://github.com/antulik/active_interaction-extras#strongparams

We are using it in production, but I would probably change the interface if I was to write it today.

[2019-08-26 19:32] h0jeZvgoxFepBQ2C opened #466 "Composed interaction errors are merged to base"
I dunno why, but as far as I know since Rails 5 error messages are nestable (see https://blog.bigbinary.com/2016/07/07/errors-can-be-indexed-with-nested-attrbutes-in-rails-5.html) and it looks like it's not working correctly?

ActiveInteractor is merging them to base though, which is wrong in my opinion..

Please correct me, but for me this seems like a bug (which prevents a certain use case for m

[2019-08-28 16:25] TolichP opened #468 "Errors from the interactions, composed in the callbacks lead to uncaught exception"
I have an interaction, that uses `compose` in its callback. If there are some errors, returned from inner interaction - the `ActiveInteraction::Interrupt` exception is thrown and caught nowhere.

Example:

[code]

Calling `ParentInteraction.run` leads to `ActiveInteraction::Interrupt` exception.
If the `compose(ChildFailingInteraction)` is placed in the `execute` - it's okay and the exception is c

[2019-09-01 16:20] #456 closed

[2019-09-05 14:28] krzyzak opened #471 "Allow having filters with reserved name"
Hello,

I'm migrating some old (3.0.1) codebase, and I encountered one unexpected issue.

on 3.0.1 this interactor works just fine:
[code]

Whereas on 3.7 (actually on anything >= 3.2.1) it fails:

[code]

I investigated that a bit, and it comes from <a href="https://github.com/AaronLasseigne/active_interaction/blob/master/lib/active_interaction/modules/input_processor.rb#L21">this particular chec

[2019-09-07 20:14] AaronLasseigne commented on #471
I'm not sure about allowing an override. Maybe I can rename some internal methods to reduce the chance of collisions with popular names.

[2019-09-09 09:34] krzyzak commented on #471
I have three reasons why it should be allowed:

First (this is just my point of view, but) no tool should be smarter than a programmer: if I know what I'm doing, the tool shouldn't prevent me from doing that. I guess that ActiveInteraction is addressed to skilled programmers rather than to newbies to prevent them to accidentally shoot themself in the foot.

Second, which is less like a matter of p

[2019-09-18 12:12] mrusakovich opened #472 "Nested hash filters have wrong key types"
When we pass params from controller action to an interaction, ActionController::Parameters (indifferent access) becomes a hash with symbolized keys for the first level values and stringified keys for the 2nd + level values:
[code]

[code]

[2019-09-18 12:12] mrusakovich commented on #472
Not sure if it's an expected behavior, so, it's a question for now

[2019-09-18 12:15] mrusakovich commented on #472
Rails 4.2.11
ActiveInteraction 3.7.1

[2019-09-24 22:58] spencersteiner opened #473 "Predicate methods undefined"
I am trying to use the [predicate methods](https://github.com/AaronLasseigne/active_interaction#predicates) to conditionally validate inputs in a Rails 5 app. I copied the exact [UpdateAccount](https://github.com/AaronLasseigne/active_interaction#edit) class to manually test the example you have there (just in case I had a weird syntax issue, etc) and got an undefined error:

[code]

The documenta

[2019-11-29 12:56] navid-farjad opened #475 "Add limit on integer value"
I think it is a very good idea to have a limit option in inputs:
if you think it is I can make a pull request.

For example:
[code]

[2019-11-29 15:06] tfausak commented on #475
I think you can do this with validations.

[code]

https://github.com/AaronLasseigne/active_interaction/tree/v3.7.1#validations

[2019-11-30 14:31] #475 closed

[2019-12-03 23:20] mattgmarcus opened #476 "Allow given? to check array filters"
Currently, the `given?` method can only check values on top-level filters or hash filters. https://github.com/AaronLasseigne/active_interaction/blob/8a6ac5233258170b0a3c95349181beb04e36099f/lib/active_interaction/base.rb#L235-L247

Given a set of filters like this
[code]

I would love to be able to do something like
[code]

I've hacked together a rudimentary version of this for now
[code]

[2019-12-24 07:24] TolichP commented on #468
Any updates? Can I try to fix it myself and make a PR?

[2020-01-27 09:20] waghanza commented on #201
@AaronLasseigne @tfausak The following code does not work in **rails** environment (`rails runner`) but works in plain ruby
[code]

:information_source: Raise an `ActiveInteraction::InvalidFilterError` :information_source:

:warning: Solved by using **date_time** instead of **time** :warning:

[2020-02-14 21:16] AaronLasseigne commented on #468
We use the callback system provided by ActiveModel. That means we don't have control over how the callbacks are run. We call `run_callbacks(:execute)` and it happens. That means the only way to this is to wrap that call:

[code]

The issue with that is none of the other callbacks will execute. So, if you've added more than one before callback or have an after callback, they might not get called.

[2020-02-14 21:16] #468 closed

[2020-02-14 21:19] #434 closed

[2020-02-14 22:18] AaronLasseigne commented on #471
You do make some good points. I've relaxed the check so that it's only looking at things on `ActiveInteraction::Base` and not everything that comes along with `Object`. This should open up the naming and still provide pretty good safety. It'll be in the 3.8.0 release.

[2020-02-14 22:18] #471 closed

[2020-02-14 22:25] AaronLasseigne commented on #464
The goal of this gem has always been to fit nicely into Rails. Moving to a different validation system would add friction with Rails. I don't think this is in the cards.

[2020-02-14 22:25] #464 closed

[2020-02-14 22:31] AaronLasseigne commented on #473
I was able to run the example:

[code]

[2020-02-14 22:31] #473 closed

[2020-02-15 02:22] AaronLasseigne commented on #450
It's possible this was fixed at some point. I've added a test for nested errors but it appears to be working fine.

[2020-02-15 02:22] #450 closed

[2020-02-28 23:00] #476 closed

[2020-03-03 00:44] mattgmarcus commented on #476
Thanks for fixing @AaronLasseigne!

[2020-03-23 10:34] ivdma commented on #466
Same here when model errors details are merged into interaction error details:

[code]

[2020-03-27 18:50] robturtle opened #479 "compose with file name & line number"
[code]
Image if errors happened, there's no good way to tell where exactly the location the error happened in the first place. Especially when each sub-interactions also have its composed interactions. Basically the backtrace from the top-level interaction to the first scene of the errors will be swallowed.

It'd good if
1. the errors remember the `__FILE__` and `__LINE__` of where `errors.add` ha

[2020-03-30 22:00] paul-mannino opened #480 "Unexpected behavior with hash and interface keys"
Short example to reproduce (using 3.8.0):
[code]
I might have missed something in the docs, but I would expect this to raise an error or filter out baz3 from the hash. What actually happens is that no filtering seems to be taking place.

Happy to submit a patch if this is indeed a bug :)

[2020-03-31 11:53] tfausak commented on #480
Which error did you expect to be raised here?

[2020-03-31 13:48] paul-mannino commented on #480
Thinking about this more, an error isn't the right behavior because interface should accommodate a missing key.  Still surprised that no filtering is happening.
For instance, this small tweak allows the hash to be filtered:
[code]
returns `{"baz1"=>1, "baz2"=>nil}`, which makes a bit more sense to me.

[2020-03-31 13:53] tfausak commented on #480
Oh, I missed that your input was called `baz2` but you passed in a `baz3` key. That extra key should be getting filtered. @AaronLasseigne you might want to look at this.

[2020-04-01 21:18] rakibulislam commented on #479
@robturtle Did you consider submitting this as an issue in the original gem's github issues? They may like the idea since it will improve the error handling greatly and decide to implement this!

[2020-04-02 01:59] AaronLasseigne commented on #480
It looks like the issue is that the error is being suppressed when using `interface`.

[code]

@paul-mannino do you want to take a stab at fixing it?

[2020-04-02 02:14] AaronLasseigne commented on #479
I'm not sure how I'd go about doing this. I don't think I can force that information into the backtrace.

[2020-04-02 15:53] paul-mannino commented on #480
@AaronLasseigne yeah, I'll take a crack at it

just want to make sure I'm clear on intended behavior. So this should in fact raise an error? Only reason I ask is that interface normally allows you to not pass anything:
[code]

The alternate route would just be to fix the filtering that isn't happening, and potentially add the key as a nil.

[2020-04-03 00:08] AaronLasseigne commented on #480
That's a great question. I'm kind of thinking that your example should throw an error. With `interface :bar` you're saying anything is fine but you're not passing anything. You're passing nothing. It seems like that should be an error. 🤔

[2020-04-03 02:18] tfausak commented on #480
For what it's worth, the documentation explicitly shows an example of an `interface` field succeeding when passed nothing: https://github.com/AaronLasseigne/active_interaction/tree/a2d6399b65c4925f4c8024ae391ee240284f32c2#interface

[code]

In fact, I think we pretty explicitly allow this. See #265.

I could see an argument that `Foo.run!()` is different than `Foo.run!(bar: nil)`. Is that distinct

[2020-04-03 03:10] paul-mannino commented on #480
yes, to me the most consistent behavior with the how interface works in the docs would be a return value of `{"baz1"=>1, "baz2"=>nil}` or `{"baz1"=>1}` for the example I put in the OP. Probably only a practical difference between the two in certain edge cases.

[2020-04-11 01:22] robturtle commented on #479
I think the easiest way is via https://stackoverflow.com/a/37135337/2214973.

[2020-04-11 01:28] robturtle commented on #479
I didn't look into the source yet. It depends on when does the exception being raised if `run!` failed.

1. If it raises at the first scene, we can simply use `set_backtrace(caller)`;
2. If the failed sub-interaction first return back to the top-level interaction and raise afterward, then the sub-interaction should wrap its `caller` information way up to the top-level.

It'd be great if you could

[2020-04-22 03:38] #479 closed

[2020-04-24 15:52] AaronLasseigne commented on #480
I think it makes the best sense for `nil` to fail even for a completely open interface.

[2020-04-25 01:02] simonmd commented on #463
I see the same thing with SimpleForm. Calling `to_model` explicitly works, otherwise it passes the interaction class.

- ruby: 2.7.1
- rails 6.0.2
- active_interaction (3.8.2)
- simple_form (5.0.2)

[2020-06-05 11:26] nvanoorschot opened #482 "Require filter definition for each input"
We sometimes use AI to manually perform certain custom actions. This exposes us to human errors in the naming of optional arguments. Is it possible to have AI fail if arguments are passed for which no filter has been defined?

### Example
[code]

This command will unintentionally commit the transaction since the argument is misspelled.
[code]

### Solution?
Introduce a class method and/or global o

[2020-06-11 03:47] vlad-pisanov opened #483 "Transforming inputs?"
First, thanks for maintaining this gem, I love it! 🎉

I like that we can do things like `string :name, strip: true` which transforms the input by stripping it.

I think it would be useful to be able to define an arbitrary transformation lambda when the input is defined.
For example, this would snap all time inputs to the beginning of the day, and force variable names into the proper format:

[code

[2020-06-13 05:16] antulik commented on #482
It's possible with a simple module

[code]

[2020-07-04 00:52] mpeters75 opened #484 "Invalid arguments to hash in Rails 5?"
I have a service for updating a credit card that is failing after upgrading to Rails 5. It doesn't like hash anymore; it seems to be trying to use the Ruby hash and not the ActiveInteraction hash -- the error is that there are too many arguments (it does not like the name given to it, here that would be ":new_consumer_card". Ruby 2.4.1 and Rails 5.2.4.3

[code]

[2020-07-04 13:56] #484 closed

[2020-07-04 13:56] mpeters75 commented on #484
For some reason the gem wasn't loading at all. Re-installed all the gems and magic it works now, my bad

[2020-08-06 16:01] jonian opened #486 "[3.8.2] valid? returns true if block not called and error added in execute around callback"
Hi @AaronLasseigne, thanks for this gem!

In `v3.8.2`, `valid?` returns true if block is not called and error added in execute around callback. This bug also breaks [active_interaction-extras](https://github.com/antulik/active_interaction-extras) `halt!` method, as reported in https://github.com/antulik/active_interaction-extras/issues/3.

The issue is on https://github.com/AaronLasseigne/active_i

[2020-08-08 21:49] jonian commented on #486
After some more testing, I can confirm that the issue occurs only in the execute around callback if the block is not called. The interaction below replicates the issue.

[code]
Another failing example (this is how active_interaction-extras implements [halt!](https://github.com/antulik/active_interaction-extras/blob/master/lib/active_interaction/extras/halt.rb) method):
[code]
@AaronLasseigne sorry

[2020-08-23 21:28] #486 closed

[2020-11-15 05:26] kapso opened #489 "Rails 6.1 support"
The gem breaks with the following error...

[code]

[2021-01-11 04:37] #489 closed

[2021-01-11 21:56] spencersteiner opened #493 "Error with inputs method after 4.0 release"
Hey there! Thanks for your awesome work on this project, I absolutely love using this library.

I noticed my tests started breaking today (I've been using the v4.0.0 tag for a number of months) and I'm getting the following error:
[code]

I wasn't sure if it was just my app or configuration, so I created a fresh new rails environment using ruby 2.6 and Rails 6. I created your `Add` and `AddAndDoub

[2021-02-10 13:55] gagalago opened #494 "authorization integration"
Authorization is for me answering the question "can I perform the action?".
To be able to reflect that I was thinking of doing the following in the controller thanks to [pundit](https://github.com/varvet/pundit):
[code]
to be able to do that I need that [`Runnable#run` change his visibility to be public](https://github.com/AaronLasseigne/active_interaction/blob/v4.0.0/lib/active_interaction/concer

[2021-02-10 22:03] spencersteiner commented on #494
Hey @gagalago! I’m not a maintainer of this project, but I thought I’d chime in on some approaches for solving this with pundit (I think authorization is out of scope for ActiveInteraction, but fortunately pundit is flexible and can be integrated nicely)

Permissions can be authorized at the controller level, or inside the interaction objects themselves (there are varying opinions on where this ty

[2021-02-11 09:05] gagalago commented on #494
I have done your example one until now. But I feel that writing it in that way is more answering "can I access the resource(s) needed for the action?" but it's not because you can access resources needed that you can perform the interaction. It's like exposing inside the controller the internals of the interaction and so the purpose of interaction to encapsulate his own logic just break :disappoin

[2021-02-11 09:20] mihaic195 commented on #494
I agree with @gagalago that given the examples of @spencersteiner , the controller needs to know the resource as well as the interaction, whereas deciding if I'm authorized to perform the interaction and then running the interaction, I think is a better approach without having to know anything about the resource inside the controller, only the result of the interaction.

Also, doing the authorizat

[2021-02-12 03:28] AaronLasseigne commented on #494
I think using both `.new` and `.run` is your best bet. It's not ideal that you have to use the interaction twice but it works and doesn't require thinking through all of the implications of making those instance methods public.

[2021-02-12 03:28] #494 closed

[2021-02-15 05:43] antulik opened #495 "Time filter ignores timezone"
v4 time parsing ignores timezone and behaves differently to v3.

[code]

Expected: to return time in Perth timezone (same as v3) - `2000-12-11T10:30:00.000+08:00`
Actual: returns time in system timezone - `2000-12-11T10:30:00.000+11:00`

It that a bug or new behaviour?

[2021-02-16 17:20] VetLee commented on #493
A similar problem. Temporarily used `inputs.to_h`

[2021-02-17 02:39] spencersteiner commented on #493
@VetLee Glad I'm not the only one! I'm converting the inputs to hash just as you are for the time being.

[2021-03-06 22:07] AaronLasseigne commented on #495
It should definitely respect time zones.

[2021-03-15 09:55] tomasdundacek opened #497 "Support Rails 6.1 in 3.8.x"
Hi,

couple of weeks ago, I have submitted PR #492 for adding support for Rails 6.1 which was subsequently merged in to version 4 branch of AI. Would it be possible to release a patch version in 3.8.x with this code as well? I'm happy to resubmit the PR if needed.

On my project, I need to update both Rails and active_interaction eventually, but due to breaking changes in AI, I would rather update

[2021-03-23 22:58] jgrau opened #498 "Easier fetching of given inputs"
Hi!

I recently started using AI and I've run into what seems like a topic that has already been discussed a few times: partial updates by using `default: nil` and `given?(:my_attribute)`.

When reading previous issues I see that there's some pushback around using something like `optional: true` with the result that if an argument is optional and not passed to the interaction it is not present in

[2021-03-25 19:40] exbinary opened #499 "`given?` does not recognize multi-part date inputs"
I was pleasantly surprised to find that AI already supports multi-part params such as those generated by the `date_select` [helper](https://devdocs.io/rails~6.0/actionview/helpers/datehelper#method-i-date_select).

However it appears that `given?` does not correctly recognize such inputs.

Easiest way to demonstrate the issue was with this [failing test](https://github.com/exbinary/active_interact

[2021-04-02 18:50] alec-c4 opened #502 "autoload"
Hey,
As I know - rails [should autoload](https://guides.rubyonrails.org/autoloading_and_reloading_constants.html#autoload-paths) all classes within the app directory and all sub-directories. What's wrong with AI, why should I to add

`    config.autoload_paths += Dir.glob("#{config.root}/app/interactions/*")`

[2021-04-03 03:36] solebared opened #503 "Use default on `record` filter when given an empty string"
Thanks for fixing #412 in v4, this really does help with using AI for form objects.

It appears however that 5a5337cf886372362a286a38b476aeab129829f2 did not cover `record` filters? Perhaps this was intentional, but i think treating a blank/empty input string as `nil` could also apply here.

For example, say we have a form for creating an `Issue`,
[code]
where `assignee` is selected with a dropdow

[2021-04-03 03:43] exbinary commented on #503
Attempted to also demonstrate this with a unit test in [this commit](https://github.com/exbinary/active_interaction/commit/cff812dddc1e2c387462bb43721e5e438a394d49), though i'm not confident this is the right place to specify the behavior i'm proposing.

[2021-04-03 20:59] AaronLasseigne commented on #502
It's possible that this advice is simply out of date. If the line isn't needed then I'm happy to remove that from the README.

[2021-04-03 21:03] AaronLasseigne commented on #497
Couldn't you update AI first? Rails 5+ is still supported.

[2021-04-03 22:07] AaronLasseigne commented on #493
My environment here is slightly different but it's close and it looks like it works fine:

<img width="482" alt="CleanShot 2021-04-03 at 17 05 35@2x" src="https://user-images.githubusercontent.com/297205/113492681-d7ba8180-949e-11eb-8742-31417a11f39c.png">

Can you give me a better understanding of what you're doing to cause it to fail?

[2021-04-05 20:00] spencersteiner commented on #493
@AaronLasseigne Ah, I could have been clearer: the issue pertains to the `inputs` hash specifically. Referencing the individual inputs by name works fine. Are you able to replicate with the example code like I have below? (I executed in a rails 6.0.3.6 environment).

I'm also happy to create a repo with a clean rails environment where it can be replicated if that's preferable!

![Screen Shot 2021-

[2021-04-06 23:13] alec-c4 commented on #502
@AaronLasseigne it should, but it won't work :( I still need to manually set autoload_path

[2021-04-07 13:02] philippemoro opened #504 "Is it possible to send a polymorphic object to an interaction?"
Title says it all, I'm creating an interaction called `CreateEvent`,  event can belong to either a `Customer` or to a `Company`.

Is it possible to create an interaction with an `object` argument that accepts two different classes as param?

[2021-04-07 17:19] sholden opened #505 "ArrayFilter#add_option_in_place_of_name forces from option for InterfaceFilter"
If you specify `methods` in an interface filter inside an array like this:

[code]

ArrayFilter will try to insert `from: Input`, raising an exception in InterfaceFilter bc both from and methods are defined.

[2021-04-11 20:24] #502 closed

[2021-04-11 20:30] AaronLasseigne commented on #504
They would have to have a common ancestor or interface. That would allow you to use `object` or `interface` respectively.

[2021-04-11 20:30] #504 closed

[2021-04-11 20:55] #497 closed

[2021-04-27 19:12] kylemellander commented on #505
I am also running into this issue.

[2021-05-26 23:45] #495 closed

[2021-06-08 10:44] gagalago opened #506 "validate hash values"
how can we validates values inside a hash?

I wanted to do something similar to:
[code]

[2021-06-10 00:51] AaronLasseigne commented on #506
The validation is taken straight from Rails by including `ActiveModel::Validations`. Any validating you can do on a model you can do on an interaction. You might have to search around a bit for validation of hashes in Rails.

[2021-06-10 00:51] #506 closed

[2021-06-17 02:46] gblair commented on #493
Just chiming in because I noticed (I think) this same issue today after upgrading to the latest version.

It looks like the type returned from the `inputs` method inside an interaction is `ActiveInteraction::Inputs` which tosses an error in `ActiveInteraction::Base#normalize_inputs!`:

[code]

This is a problem when using the `inputs` method inside an interaction to share inputs with a composed in

[2021-06-22 01:48] #505 closed

[2021-06-24 14:52] isfando opened #507 "input variable is undefined when used in default lambda for another input variable"
[code]

When i call the interaction as following where "bar_obj" is not nil
XYZ.run!(baz: baz_obj)

the default initialization of "bar" fails with following error because it finds baz as undefined
[code]

I can circumvent the error by changing initialization order i.e. initializing baz as the first variable which makes the above scenario successful

[code]

BUT
it then fails when the interaction i

[2021-06-24 21:13] isfando commented on #507
@AaronLasseigne , any guidance on this if possible

[2021-06-25 00:18] AaronLasseigne commented on #507
Yup, it's a circular dependency. I can't really offer help here. You'll have to rethink how you're approaching the problem. Best of luck.

[2021-06-25 00:18] #507 closed

[2021-06-25 03:55] #499 closed

[2021-06-25 03:55] #493 closed

[2021-06-25 09:03] isfando commented on #507
[code]

When i call the interaction as following where "bar_obj" is not nil
XYZ.run!(baz: baz_obj)

But why is it undefined in default lambda of "bar", which fails with following error because it finds baz as undefined
[code]

[2021-06-27 18:53] kapso opened #508 "Pass a hash to run method without using filters"
I want to pass a hash to an interaction that is a nested hash, and it's already filtered in a Rails controller using `params.permit(:key1, key2, { country_codes: [], expense: [:min, :max] })`,  so I would hate to filter it again in my interaction.

So something like this...
`Search.run(params: query_params)` or `Search.run(query_params)`

Is something like this possible? i.e, not using filters and

[2021-06-29 02:17] AaronLasseigne commented on #508
Generally you'd skip permitting the params and send them through to the interaction which will filter them. There's no way around using the filters and `@_interaction_raw_inputs` is an internal variable subject to change without notice in the CHANGELOG.

[2021-06-29 02:17] #508 closed

[2021-06-29 02:49] AaronLasseigne commented on #483
Stripping away whitespace from a string is a convenience because you'll almost always want to do it. Especially with user input. That's why we do it by default.

Why not transform the values in the `execute` method? What's the benefit to doing it before?

[2021-06-29 02:50] AaronLasseigne commented on #507
We do checking of defaults early in process so it's running it and assigning it before the other objects have become available.

[2021-06-29 02:52] AaronLasseigne commented on #498
This seems like a good idea. Do you still want to take a shot at making a PR?

[2021-06-29 10:15] kapso commented on #508
@AaronLasseigne thanks for the quick response, and your work on this gem.

So I tried passing `params` from Rails controller, and run into the following...

`to_h': unable to convert unpermitted parameters to hash (ActionController::UnfilteredParameters)`

I am guessing this issue is still in TBD state judging from this thread - https://github.com/AaronLasseigne/active_interaction/issues/381

Or p

[2021-07-02 01:39] AaronLasseigne commented on #508
You can pass them through directly.

[code]

[2021-07-02 03:49] HashNotAdam opened #510 "Hash parameters do not work outside of Rails"
When using vanilla Ruby, including hash parameters does not work because the `with_indifferent_access` method has not been patched onto hashes and is required by `lib/active_interaction/filters/hash_filter.rb`. This is solved by:
[code]

Simple example:
[code]

[code]

[2021-07-02 20:48] agustindaguerre opened #511 "converter option not resolving correctly to classname of array attribute in v4.0.2"
After bumping from 4.0.1 to 4.0.2 usage of `converter: :new` option in a array attribute broke resolving to correct class.

Example:
[code]

This does not longer resolve to use `Summary` class after updating, now we have to specify the class for it to work as expected:
[code]

[2021-07-03 19:30] AaronLasseigne commented on #510
I actually happened across this the other day (https://github.com/AaronLasseigne/active_interaction/commit/2d8ee0a64f83bfb396f3f45673150a3c3a66cc9a). It'll be in the next release. Thanks for reporting it though!

[2021-07-03 19:30] #510 closed

[2021-07-03 20:57] #511 closed

[2021-07-06 18:45] jgrau commented on #498
Cool! Yes I’ll give it a shot. :)

[2021-07-07 02:28] AaronLasseigne commented on #498
I've been looking at this at it might actually be tricky to do. There are some changes I'm wanting to make under the hood that will make this easier. Let's put a pause on it and I'll let you know when I've done the internal stuff.

[2021-07-11 16:38] #480 closed

[2021-07-29 10:09] alexbrebu opened #513 "Achieve `exclusive disjunction` between two given inputs"
The question comes from a need we had:
[code]

The issue here is that `:category_id` is actually an integer and `:name` a string. So we would have needed something that allows both integer or string to be passed through that input key:

[code]

[2021-07-29 10:09] alexbrebu commented on #513
The solution we came up with is:
[code]

[2021-08-17 15:40] thatguysimon opened #514 "Change of bahavior in object filter with Minitest::Mock in v4.0"
Hi,
I've encountered an issue while upgrading from v3.7 to v4.0 with how `Minitest::Mock` objects are cleaned by the `object` filter.

`Minitest::Mock.new` can take a delegator object which the mock object then wraps like so:
[code]

With ActiveInteraction v3.7, the gem played nicely with Minitest because (intentionally or not) the cleaning of a `Minitest::Mock` object which wraps `Potato` resulte

[2021-08-29 00:44] vlad-pisanov commented on #483
The payoff would be:
- If the transformed param is used in helper methods outside of `execute`
- The transformed param would be memoized and doesn't need to be re-computed on every call
- Yes, `strip` is common, but only allowing this transformation is somewhat artificial

e.g. compare:
[code]
vs.
[code]

[2021-10-07 08:25] formigarafa opened #515 "Does array items accept default nil or not"
Array filter has this example on the top of the class:
https://github.com/AaronLasseigne/active_interaction/blob/master/lib/active_interaction/filters/array_filter.rb#L18-L21
[code]
  But on implementation has this:
  https://github.com/AaronLasseigne/active_interaction/blob/master/lib/active_interaction/filters/array_filter.rb#L108
[code]

Maybe I am missing something but it looks conflicting.

J

[2021-10-14 00:20] AaronLasseigne commented on #514
I've only rarely used Minitest. No change jumps out at me as something that could cause this.

[2021-10-14 00:22] #515 closed

[2021-10-27 19:33] danilobarion1986 opened #516 "Support for array of classes for the object filter"
Hey!
Wouldn't it be good to have the possibility of passing an array of classes to the `object` filter? So we could do something like this:

`object :foo, class: [Bar, Baz]`

[2021-11-18 22:17] omkarmoghe opened #517 "Callback ordering example in docs"
I was curious how the callbacks were ordered, so I set up a simple test. Any chance we could add the ordering to the docs? I think it would be useful when developing. I didn't know that the `after` callback runs before the `around` block closes, thought that was interesting.

[code]

results in

[code]

Not really an issue, but wasn't sure if this was PR worthy. Figured it would be easiest for som

[2021-12-09 02:21] AaronLasseigne commented on #517
I'll add a note that the callbacks come from `ActiveSupport::Callbacks`. Whatever they do is what we do.

[2021-12-09 02:21] #517 closed

[2021-12-16 18:46] spencersteiner opened #518 "Rails 7 support"
Rails 7 depends on activemodel 7.0.0, and active interaction requires activemodel (>= 5, < 7).

Here's the bundler output when upgrading rails with active interaction installed:
[code]

[2021-12-30 01:08] AaronLasseigne commented on #518
closed by https://github.com/AaronLasseigne/active_interaction/pull/519

[2021-12-30 01:08] #518 closed

[2021-12-30 01:49] AaronLasseigne commented on #516
It seems like you'd be better off using a parent class and referencing that or using `interface` to make sure they behave the same. If that doesn't meet your need though, the extras extension should do the trick.

[2021-12-30 01:49] #516 closed

[2022-01-08 21:53] jahammo2 opened #520 "Issue with the `interface` filter after upgrading from 3.8.2 to 4.1.0"
Hey!

First of all, I've been using this gem for like 5 years and love the work you all have done. Thank you.

Second, I'm having an issue with the filters after upgrading.

### The problem

I've upgraded to 4.1.0 and the `interface` filter is no longer working as expected. Specifically, I used to be able to pass something like `User.first` to an interaction with a filter like `interface :user` bu

[2022-01-15 17:45] jahammo2 commented on #520
I have figured out the issue.

Something might be different about `interface` now. However, I was probably not using it properly from the beginning. I have since switched over to using `object` or `record` and things are working now. However, it appears you **must** add the `class` option (or the `from` option). That's where I went wrong when I initially tried using `object` and `record`. I should

[2022-01-15 17:48] jahammo2 commented on #520
I am going to close this issue now. But I really want to let you know, Aaron, that I am so thankful for the work you have put into this gem. It's close to a decade of you maintaining it and I am so, so appreciative of it. I know it's not easy and takes a lot of your time. So, thank you very, very much.

[2022-01-15 17:48] #520 closed

[2022-01-27 21:05] cpanderson opened #521 "3.8.3 -> 4.1 upgrade interface"
Hello,

Trying to make sense of the interface filter in 4.1. It won't recognize the constant which works in 3.8.3. Example...

[code]

This is legacy code that goes back to 2016 by another developer so there's a good chance this wasn't properly implemented in the first place but has worked until now including Rails 5 and now trying to upgrade to Rails 6.1.

Any insight would be helpful. Thanks!

[2022-01-27 23:19] antulik commented on #521
@cpanderson have you tried changing the order and define class first?

[code]

[2022-01-28 00:33] cpanderson commented on #521
Thanks but no that makes no difference.

[2022-01-30 19:42] cpanderson commented on #521
To give this case more clarity the Params class has filters that I want to validate and use and inputs into the CompileSomething. If I use the "from" argument for interface AND put the Params class above the interface statement then I  can get a "is not a valid interface" error.

[code]

I can then do...
[code]

but then I get the invalid interface error.

The code I'm working on needs refactoring

[2022-02-23 07:51] x9sim9 commented on #259
As I stumbled on this thread whilst making my own shared examples I thought I would post what I came up with

RSpec.shared_examples :interaction_has_validations do |presence:, interaction: nil, params: nil|
	let(:current_interaction) { interaction || described_class }
	let(:current_params) { params || inputs }

	it "valid?" do
		expect(current_interaction.run(**current_params)).to be_valid
	end

[2022-03-24 00:50] AaronLasseigne commented on #513
The system we have isn't really a type system. It just tests and casts. I don't want to start down the path of trying to implement real typing features. You can do what's mentioned above or use `object :category_id_or_name, class: Object` which will accept both and then use validation to confirm it's one or other other.

[2022-03-24 00:50] #513 closed

[2022-03-24 01:01] AaronLasseigne commented on #521
You might find success switching to `object :params, class: MyModule::CompileSomething::Params`.

It's difficult to make other recommendations without seeing more of how it all works together.

[2022-04-03 16:43] AaronLasseigne commented on #503
This will be in the `5.0.0` release.

[2022-04-03 16:43] #503 closed

[2022-04-03 16:48] AaronLasseigne commented on #514
Looking at this again, I think this is more of an issue with minitest than this gem.

[2022-04-03 16:48] #514 closed

[2022-04-07 21:41] alec-c4 opened #522 "autoload paths"
Hey!
Is it possible to create an initializer for rails application and put it to config/initializers instead of adding to application.rb `config.autoload_paths += Dir.glob("#{config.root}/app/interactions/*")` ? I've tried to do so

```Rails.application.config.autoload_paths += Dir.glob("#{Rails.application.config.root}/app/interactions/*")```

 but it doesn't work :(

[2022-04-09 01:45] AaronLasseigne commented on #522
I would have thought that would work. I'm not sure why it wouldn't. Maybe something to do with the order things are loaded?

[2022-04-09 01:45] #522 closed

[2022-04-09 02:17] AaronLasseigne commented on #522
It's worth noting that in newer versions of Rails you shouldn't even need that line anymore.

[2022-04-09 08:53] alec-c4 commented on #522
@AaronLasseigne rails 7.0.2.3 - this line is still required

[2022-04-09 21:33] AaronLasseigne commented on #522
I was able to create a new Rails app (7.0.2.3), add the gem, add the "interactions" directory under "app", create an interaction, and use it from the console. No config changes needed.

[2022-05-13 13:48] tomasdundacek opened #523 "Interactions stay valid after changing filter values directly"
Hi, I have encountered the following "bug", I'm rather asking for the intentions behind the commit below or if there possibly is a bug indeed:

**Summary**
The commit https://github.com/AaronLasseigne/active_interaction/commit/abb5de10da0f2048ef600e9a50cb00de6b136fba (in version 4.0.2) has broken the cooperation between ActiveInteraction and shoulda-matchers, since interaction filter instance vari

[2022-05-21 23:14] #521 closed

[2022-05-21 23:22] AaronLasseigne commented on #523
I didn't realize the "should" matchers were still supported by RSpec.

[2022-05-21 23:46] AaronLasseigne commented on #523
Calling `.new` is fine and is and intended use.

[2022-05-22 00:21] AaronLasseigne commented on #523
I'm not sure what you mean by that.

Ultimately, I surprised this ever worked. It was probably a bug that it **did** work. The gem doesn't use presence of validation. It has it's own check and adds the same error but it's not actually using `validates :foo, presence: true` in the code.

[2022-05-22 00:21] #523 closed

[2022-05-23 03:32] smcabrera opened #524 "Order dependency of filters depending on other filters"
Similar but not identical to the issue https://github.com/AaronLasseigne/active_interaction/issues/507. Here it's not a matter of a circular dependency but the order that filters are added when using import filters or a module.

I have an example reproduction of this issue [in this repo](https://github.com/smcabrera/reproduce_active_interaction_error/)

Say we have an interaction like this

[code]

[2022-05-31 09:49] x9sim9 opened #526 "a"

[2022-05-31 16:57] #526 closed

[2022-06-01 03:32] lulalala commented on #403
@antulik I see that you archived the gem, and am curious to know why. Thanks.

[2022-06-04 21:39] AaronLasseigne commented on #466
This has been fixed in https://github.com/AaronLasseigne/active_interaction/commit/bc84b69a61ebb71be9f495c598ee7def65d9c4fa. It'll be part of the 5.0.0 release.

[2022-06-04 21:39] #466 closed

[2022-06-08 03:07] Kowa1229 opened #527 "Q: How do I dealing with Association (has_many / nested-fields)?"
For example now I got a table User, with associations has_many task.

In my User Model,

         has_many :tasks
  end

And my Task Model,

       belongs_to :user
 end

So I'm trying to do something with active_interaction gem.

I can validate my User model well, but however I not sure how do I work with my has_many relations.
Not sure how do I passed in the tasks_attributes.

I've tried to spec

[2022-06-16 02:40] ygaitonde opened #529 "Converter object filter doesn't work when default is nil"
[code]

This code doesn't try and cast nil, and instead just sets the object to nil, causing a `NoMethodError` when we expect `400` to be printed.

From the docs: `The value given to the default option will also be converted.`

Happy to take a stab at fixing this.

[2022-06-17 00:24] AaronLasseigne commented on #529
This could probably be more clear in the documentation but `nil` is a special case that doesn't pass through. Giving a default value of `nil` is how a filter is made optional. What you want is:

[code]

[2022-06-17 00:24] #529 closed

[2022-06-17 00:24] AaronLasseigne commented on #529
I'll update the docs to clarify.

[2022-06-17 00:49] AaronLasseigne commented on #527
It sounds like you want to pass in an array of task attributes. Let's say that a task has two attributes, `title` and `completed_by`. It would look something like this:

[code]

From there you can see if the tasks are valid and add the errors to `:base` if you want them to bubble up. It would look something like this:

[code]

[2022-06-17 00:49] #527 closed

[2022-06-17 03:33] AaronLasseigne commented on #524
This turns out to be an interesting issue. Prior to 4.0.0 we would populate the object with the raw value provided in the input and then override them with the filtered value. I think we did it that way at the time to preserve the raw values for use in errors but I don't exactly remember. The result of this is that in some cases what you noticed would work. The raw value given was available and us

[2022-06-17 03:33] #524 closed

[2022-06-22 23:18] #462 closed

[2022-06-30 01:18] PedroHamzehT opened #531 "Handling nested attributes (hash of hashes)"
Hello! I am wondering how I can set up my interaction to expect has_many nested attributes in the Rails form format.

I have two classes:

[code]

And when a create a form for the User model and I want to already create their pets, I can just use the fields_for helper to send a pets_attributes hash with others hash (simulating an array).

Example:
The submit will be sent in this format:

[code]

I

[2022-07-04 05:42] usamaSaddiq commented on #459
+1 I'm facing a similar issue where we're trying to bulk update metrics from various years and the year value acts as a composite key along with another field to uniquely identify a record. Example structure

[code]

I've also got a workaround where instead of passing the values as an array, I'm calling the interaction 4 times in the above instance

[code]

Might be a good idea to let hash keys be

[2022-07-10 12:49] wulffeld opened #534 "v5 gemspec tied to rails gem and thereby activerecord"
Not all projects depend on activerecord. Some use mongoid or other ORMs.

[2022-07-10 14:05] tfausak commented on #534
See #533.

[2022-07-10 18:21] #534 closed

[2022-07-12 13:35] jgrau commented on #498
Hi @AaronLasseigne. It was really cool to see the 5.0 upgrade. I have this piece of code in a superclass that all my interactions inherit from:

[code]

I'm trying to achieve the same functionality with the 5.0 upgrade but I can't seem to find a good way to do that.

With the 5.0 upgrade and move of `given?` into `Inputs` this issue seems a lot more doable, do you agree? If so, I can try to make a

[2022-07-14 02:13] AaronLasseigne commented on #498
I'm wondering about how this should work for hashes. Should it only be the first level of inputs or should it dive deep into hashes and check those too?

[2022-07-14 03:05] AaronLasseigne commented on #459
I'm considering solutions for this. See #535.

[2022-07-14 03:06] AaronLasseigne commented on #531
I'm considering solutions for this. See #535.

[2022-07-23 19:11] AaronLasseigne commented on #498
Sure, we'll start with just the top level of inputs and see what people think.

[2022-07-27 07:20] asabourin opened #537 "Incorrect filtering of array of hashes in v5?"
Hi @AaronLasseigne and team, we have stumbled upon a change in behaviour while trying to upgrade to version 5.0.0, which can be seen with the below action:
[code]
Running with dummy data such as
[code]
we get the expected output in version 4.1, where `something_else` is filtered out and `option_with_default` is added with its default value in both the hash and array of hashes:
[code]
however with

[2022-07-28 02:19] AaronLasseigne commented on #537
Fixed in the now released 5.1.0.

[2022-07-28 02:19] #537 closed

[2022-08-04 12:50] VStetsyshyn opened #538 "Activeinteraction::Inputs and ActiveRecord #build_where_clause"
Hey, thank you to the author of this gem and all contributors.

After upgrading rails from version 6.0.3.7 to 6.1.0+ I faced with ActiveRecord issue when I made it in my interaction class `User.find_by(inputs)`
``` ArgumentError: Unsupported argument type: { .... } (ActiveInteraction::Inputs) from gems/activerecord-6.1.0/lib/active_record/relation/query_methods.rb:1094:in `build_where_clause```

T

[2022-08-08 07:57] GGD commented on #508
I made it this way to "skip" the filters:
[code]

[2022-08-20 22:33] AaronLasseigne commented on #538
Maybe I'm missing something or there is a better way to fix my issue. The idea is to force inputs to Hash type.

This is the correct solution.

[2022-08-20 22:33] #538 closed

[2022-08-31 16:29] ericcecchi opened #539 "Bug: Cached default input values"
The ActiveInteraction v5 update introduced a regression where the default option for inputs is cached and not reevaluated on each execution. For default values that are function calls (e.g. lambdas), this leads to stale values after the first execution of an interaction.

The root cause of this regression is the caching of default values introduced in [this commit](https://github.com/AaronLasseign

[2022-09-01 00:48] #539 closed

[2022-09-01 00:54] AaronLasseigne commented on #539
Thanks for the issue. Fixed in https://github.com/AaronLasseigne/active_interaction/releases/tag/v5.1.1

[2022-10-13 14:35] fbuys opened #542 "Question: Would you like to add some hactoberfest labels?"
Just wondering if you are open to hactoberfest contributions?

[2022-10-14 15:35] sturpin opened #543 "Rails 7: ArgumentError (Could not find or build blob: expected attachable)"
Hi! I have a little problem with my interactor when I validate my form and get _unprocessable_entity_ status.

__rails_controller.rb__
[code]

__my_interactor.rb__
[code]

__Steps to reproduce__
1. In my editing form, I have some required fields and an image.
2. When I force a validation, i.e. name form field is blank, validations are executed correctly and the errors messages are displayed to me,

[2022-10-17 20:56] sturpin commented on #543
Solved! :ok_hand:

I have made two changes:
- The **update** method in rails_controller, exactly `else` statement, I have assigned the param image to `@image`.
- The **set_image** method in my_interactor, has remained as follows `@image || organisation.image.blob`

This way the object returns correctly. :+1:

[2022-10-18 23:31] #543 closed

[2022-10-18 23:34] AaronLasseigne commented on #542
I haven't done anything with it and this month is a busy one for me so probably not.

[2022-10-18 23:34] #542 closed

[2022-10-20 19:01] jonkgrimes opened #545 "An `array` filter can mutate the state of the passed in Array instance"
During an upgrade from 4.1 to 5.1.1 we noticed a small change in behavior when using an `array` filter that transforms its values. It looks like the call to `map!` in `ArrayFilter#process` will mutate the original array passed into the interaction. This raises errors in cases when the original array is frozen as well as some ActiveRecord interactions (e.g., being passed a list ID's and then saving

[2022-10-22 02:11] #545 closed

[2022-11-14 10:18] Asdfif opened #547 "array :emails is always nil. Why?"
[code]
 variable 'emails' is always nil. why?

 if i rename array to 'emails_list' for example, it works correctly.

[2022-11-15 01:14] AaronLasseigne commented on #547
It works:

[code]

[2022-11-15 01:14] #547 closed

[2022-11-16 11:23] Asdfif commented on #547
hmm. looks like I have some local problem, thank You